.user {
  display: flex;
  color: #f0f0f0;
  height: fit-content;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
}

.indicator {
  filter: brightness(1);
  box-shadow: 0 0 10px #adfc66;
  width: 0.5rem;
  margin:0 0.2rem 0 0.2rem;
  background-color: #adfc66;
  height: 0.5rem;
  border-radius: 100%;
}

.timeStamp {
  width: 100%;
  margin-top: 1rem;
}