.user
{
  align-items     : center;
  color           : #F0F0F0;
  display         : flex;
  font-size       : 0.8rem;
  height          : fit-content;
  justify-content : flex-end;
}

.indicator
{
  background-color : #ADFC66;
  border-radius    : 100%;
  box-shadow       : 0 0 10px #ADFC66;
  filter           : brightness(1);
  height           : 0.5rem;
  margin           : 0 0.2rem 0 0.2rem;
  width            : 0.5rem;
}

.timeStamp
{
  margin-top : 1rem;
  width      : 100%;
}