.main
{
  display    : flex;
  flex-flow  : row wrap;
  justify-content: center;
  align-items : center;
  padding: 1rem;
  max-height : 100vh;
  width      : 100vw;
}

@media (max-width : 800px)
{
  .main
  {
	padding : 2rem;
  }
}