.container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    opacity: 0.8;
    color: #080303;
    transition: 0.35s all ease-in-out;
}

.link:hover {
    opacity: 1;
    color: #C14D4B;
}