.textBox, .textBox2 {
  width: 50%;
  height: fit-content;
  color: #FDF9F9;
  padding: 1.5rem;
  border-radius: 3rem;
}

.speechBubble, .speechBubble2 {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
}

.speechBubble {;
justify-content: flex-start;
}
.speechBubble2 {
  justify-content: flex-end;
}

.textBox {
  background-color:#53d769;
  align-self: flex-start;
}

.textBox2 {
  background-color:#5fc9f8;
  align-self: flex-end;
}

.textContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
