.textBox, .textBox2 {
  width: 300px;
  height: fit-content;
  color: #FDF9F9;
  padding: 1rem;
  border-radius: 1rem;
  text-align: left;

}

.textBox {
  align-self: flex-start;
  background: #F7941D;
}
.textBox2 {
  align-self: flex-end;
  background: #1D80F7;
}

.textContainer {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  width: 100%;
}

