@import url("https://use.typekit.net/ovx4oiu.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navBar {
  z-index: 2;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}
