@import url('https://use.typekit.net/bix1whw.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after
{
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

body
{
  grid-template-rows: auto 1fr auto;
  font-family : 'jaf-cupidus-text', sans-serif;
  font-style  : normal;
  font-weight : 500;
  font-size: 1.2rem;
}
