.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem 50% 6rem 50%;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .main {
    padding: 6rem 40% 6rem 40%;
  }
}