.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.mainText {
  font-size: 2rem;
}

.panda {
  color: #ff7139;
}