.main
{
  display        : flex;
  flex-direction : column;
  gap            : 1rem;
  height         : 80vh;
  width          : 100vw;
}

@media (max-width : 800px)
{
  .main{
    padding  : 2rem;
  }
}